.map-container {
    background-color: #b3c2b5;
    background-image: url("../images/black-scales.png");
    flex-grow: 2;
  }

  img {
    margin: 2%;
    border-radius: 2%;
    width: 95%;
    object-fit: cover;
  }