.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 1em;
}

/* HOME */

.homeButton {
    background-color: white;
    width: 3em;
    height: auto;
    min-height: 2em;
    border: 0;
    border-radius: 2px;

    display: grid;
    place-items: center;
}

.homeButton:hover {
    background-color: lightgrey;
}

/* FILTER */

.filterField {
    background-color: white;
    height: auto;
    min-width: 9rem;
    border: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    display: grid;
    place-items: center;
}

.filterPlaceholder {
    color: grey;
}

.btn-rounded-light {
    background-color: white;
    border: 0;
    border-radius: 2px;
}

.btn-rounded-light:hover {
    background-color: lightgrey;
}

.dropdown-menu-rounded-light {
    margin-top: 0.5em;
    border: 0;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown-menu-rounded-light a:hover {
    background-color: lightgrey;
}

/* SEARCH */

.searchField {
    display: flex;
}

.searchInputs input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 1rem;
    padding: 0.5em;
}

.searchInputs input::placeholder {
    color: grey;
    opacity: 1;
}

input:focus {
    outline: none;
}

.searchButton {
    background-color: white;
    width: 2em;
    height: auto;
    min-height: 20px;
    border: 0;
    border-radius: 2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    display: grid;
    place-items: center;
}

.searchButton:hover {
    background-color: lightgrey;
}

.searchCandidates {
    margin-top: 0.5em;
    width: 16.5em;
    height: auto;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    position: absolute;

    overflow: hidden;
    overflow-y: auto;
}

.searchCandidates::-webkit-scrollbar {
    display: none;
}

.searchCandidates .searchItem {
    width: 100%;
    height: 3em;
    background-color: white;
    border: none;
    text-align: left;
    padding-left: 1em;
    padding-right: 3em;
}

.searchItem:hover {
    background-color: lightgrey;
}