.App {
  background-color: #b3c2b5;
  background-image: url("./images/black-scales.png");
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #80b880;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  color: white;
}

.App-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 800px) {
  .App-body {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .App-body div {
    width: 100%;
  }
}

.App-body div {
  height: 100%;
}

.info-container {
  background-color: white;
  width: 30vw;
}

.map-container {
  flex-grow: 1;
}
